@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 244 47% 20%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 243.4 75.36% 58.63%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215 19% 35%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 0% 3.92%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-stroke {
  -webkit-text-stroke: 1px #4f46e5;
}

.gradient-border {
  border-width: 1px;
  border-style: solid;
  /* Replace these colors with your desired gradient */
  border-image: linear-gradient(to right, #4dc0b5, #3490dc);
}

.apexcharts-canvas {
  font-family: "Inter";
}

.apexcharts-tooltip {
  backdrop-filter: blur(20px) !important;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(33, 43, 54);
  box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.24) -20px 20px 40px -4px;
  border-radius: 10px;
  text-align: center;
}

.apexcharts-tooltip.apexcharts-theme-light {
  background: rgba(255, 255, 255, 0.6) !important;
}

.apexcharts-tooltip .apexcharts-tooltip-title {
  font-weight: 700;
  color: "#4b5563" !important;
}

.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip {
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: 1px solid #fff !important;
  color: rgb(33, 43, 54);
  box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.24) -20px 20px 40px -4px;
  border-radius: 10px !important;
}

.apexcharts-xaxistooltip-bottom:before {
  border-bottom-color: transparent !important;
}
